* {
    margin: 0;
    padding: 0;
    border: border-box;
}
body {
    text-align: center;
    background-color:cornflowerblue;
}
h1 {
    margin-top: 30px;
    color: rgb(32, 88, 6);
}
button {
    padding: 12px;
    margin-top: 15px;
    cursor: pointer;
    background: rgb(253, 37, 37);
    border: 1px solid #555;
    border-radius: 5px;
    color: #ccc;
    font-weight: bold;
}
#instructions {
    margin-top: 30px;
    text-align: center;
    width: 800px;
    height: 600px;
    color:rgb(32, 88, 6);
    background: none;
    position: absolute;
    text-align: center;
}
canvas {
    margin-top: 30px;
    text-align: center;
}